.my_home{
    display: flex;
    flex-wrap: wrap;
}
img#home_img {

    /*margin-left: auto;*/
    /*margin-right: auto;*/
}
.home_text {
    width: 45%;
    margin-right: 20px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}
.home_image{
    max-width: 50%;
}